@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
</div>


</br>
</br>

</br>
</br>

<h1>Serwis internetowy wspomagający podnoszenie kompetencji cyfrowych personelu medycznego</h1>

</br>
</br>




<p>
    Celem mojej inżynierskiej pracy dyplomowej jest projekt i implementacja „przyjaznego” serwisu internetowego,
    wspomagającego podnoszenie kompetencji cyfrowych personelu medycznego (zarówno pielęgniarek jak i lekarzy).
    Serwis ten będzie także służył do rozwijania umiejętności cyfrowych pracowników, którzy nie są wykluczeni cyfrowo,
    aby pozwolić im zdobywać nowe kompetencje poprzez, które będą kroczyć ścieżką rozwoju zawodowego bogatsi o nowe źródła
    i możliwości pozyskania wiedzy. Działaniem takim minimalizujemy m. in. ryzyko wypalenia zawodowego. Serwis ten dostosuję
    do poziomu technicznego osób z niego korzystających, jest on odpowiedzią na zapotrzebowanie edukacji cyfrowej pracowników
    państwowej służby zdrowia
</p>

</br>
</br>

<h3> O mnie:</h3>
</br>
<p> Studentka Akademii Finansów i Biznesu Vistula na kieunku informatyka, specjalność: Bazy danych</p>
<p>Dane kontaktowe:</p>


<div class="aaa"><p><a href="https://www.linkedin.com/in/paulina-ku%C5%9Bmierz-4a3ba7177/" class="btn btn-primary btn-lg"> Mój LinkedIn &raquo;</a></p></div>



<div class="bbb"><p><a href="https://github.com/PaulinaKusmie" class="btn btn-primary btn-lg"> Mój GitHub &raquo;</a></p></div>