@{
    ViewData["Title"] = "Materiały";
}

<h1>Materały edukacyjne</h1>

<br />
<br />

<h2>Komputer</h2>

<br />
<br />


<div class="container">



    <a href="https://www.youtube.com/watch?v=Y6D-DH5pDSc"><div class="box">Pulpit i ikony menu start</div></a>
    <a href="https://www.youtube.com/watch?v=mRKWGg9uWiE"><div class="box">Podstawowe informacje o komputerze</div></a>
    <a href="https://www.youtube.com/watch?v=rWLpuJ_9O0s"><div class="box">Okno: zmiana rozmiarow i jak wyglada</div></a>
    <a href="https://youtu.be/KPpp_l3it1s"><div class="box"> Rozdzielczość i jasność monitora</div></a>
    <a href="https://youtu.be/QXlyxnP6oio"><div class="box">Opcje folderów</div></a>
    <a href="https://youtu.be/evuaizl95VA"><div class="box">Atrybuty plików</div></a>
</div>

<br />
<br />


<h2>Internet</h2>


<br />
<br />

<div class="container">


    <a href="https://www.youtube.com/watch?v=I_MIUlu8Nrs"><div class="box">Przeglądarka internetowa</div></a>


    <a href="https://www.youtube.com/watch?v=mRKWGg9uWiE"><div class="box">Podstawowe informacje o komputerze</div></a>


    <a href="https://www.youtube.com/watch?v=rWLpuJ_9O0s"><div class="box">Okno: zmiana rozmiarow i jak wyglada</div></a>


    <a href="https://youtu.be/KPpp_l3it1s"><div class="box">Rozdzielczość i jasność monitora</div></a>


    <a href="https://www.youtube.com/watch?v=Zv6r99yXj5s"><div class="box">Pliki, foldery i ich organizacja </div></a>


    <a href="https://www.youtube.com/watch?v=91EMPfg-kVA"><div class="box">Pliki, foldery i ich organizacja</div></a>

</div>

<br />
<br />

<h2>Bezpieczeństwo</h2>

<br />
<br />

<div class="container">


    <a href="https://www.youtube.com/watch?v=hZI3ngOY3Yk"><div class="box">Bezpieczeństwo w sieci</div></a>


    <a href="https://www.youtube.com/watch?v=B7fA1zfGn8Q"><div class="box">10 zasad bezpiecznego korzystania z Internetu</div></a>


    <a href="https://www.youtube.com/watch?v=IWM9ADrBs_o"><div class="box">Zagrożenia mobilne</div></a>


    <a href="https://www.youtube.com/watch?v=ciOMMzRJJBc"><div class="box">Menadżery haseł</div></a>


    <a href="https://www.youtube.com/watch?v=9BiZhbIk3Bw"><div class="box">Phishing</div></a>


    <a href="https://www.youtube.com/watch?v=QLjdT0QW9Sg"><div class="box">(Nie) Bezpieczeństwo danych w sieciach</div></a>

</div>

<h2> Mam problem z...  </h2>

<br />
<br />

<p>.</p>
